.recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.recommendations h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.recommendations hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.recommendations-item {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

/* Adjust for mobile screens */
@media(max-width: 1280px) {
    .recommendations h1 { font-size: 40px; }
    .recommendations hr { width: 160px; height: 5px; }
    .recommendations-item { gap: 20px; }
}

@media(max-width: 1024px) {
    .recommendations h1 { font-size: 30px; }
    .recommendations hr { width: 120px; height: 4px; }
    .recommendations-item { gap: 15px; }
}