* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Navbar,
.hero,
.offers,
.newsletter,
.popular,
.new-collections,
.footer,
.shop-category,
.product-display,
.cart,
.loginsignup {
  width: 100%;
  /* MATCHING THE NAVBAR SPACING (1.8in) */
  padding-left: 1.8in;
  padding-right: 1.8in;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-item,
.collections {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 0 auto;
}

/* RESPONSIVE: When screen is smaller than laptop, drop the big margin */
@media (max-width: 1400px) {
  .Navbar,
  .hero,
  .offers,
  .newsletter,
  .popular,
  .new-collections,
  .footer,
  .shop-category {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 800px) {
  .Navbar,
  .hero,
  .offers,
  .newsletter,
  .popular,
  .new-collections,
  .footer,
  .shop-category {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
