.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
  width: 100%;
  max-width: 260px;
  height: 100vh;
  
  background-color: #ffffff; 
  border-right: 1px solid #e2e2e2;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 20px;
  padding: 20px 20px;
  border-radius: 8px;
  
  background: #f9f9f9;
  gap: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.sidebar-item:hover {
  background-color: #f0f0f0;
  transform: translateX(5px); 
}


.sidebar-item:active, .sidebar-item.active {
  background-color: #f0f0f0;
}

.sidebar-item img {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.sidebar-item p {
  font-size: 16px;
  font-weight: 500;
  color: #444;
  margin: 0;
  
  white-space: nowrap; 
  display: block;
}

@media (max-width: 800px) {
  .sidebar {
    padding: 10px 0;
    flex-direction: row; 
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #e2e2e2;
    gap: 10px;
  }

  .sidebar-item {
    margin: 5px;
    padding: 10px 15px;
    gap: 10px;
  }
}


@media (max-width: 500px) {
  .sidebar-item p {
    font-size: 14px;
  }
  
  .sidebar-item {
    padding: 8px 12px;
  }
}